@media (max-width: 553px) {
    .content_about{
        top: 10%;
        left: 50%;
    }
    .content_about h1{
        font-size: 15px;
    }
}
@media (max-width: 381px) {
    .content_about{
        top: 10%;
        left: 50%;
    }
    .content_about h1{
        font-size: 15px;
    }
}
.content_about{
    
    
    bottom:50%;
    transform: translate(0%,-150%);
    text-align: center;
    
}
.content_about h1{
    color: #fff;
}